# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/frontend/.env
/frontend/src/configs/secrets.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/frontend/package-lock.json
.idea
/env
*.pyc
/backend/backend/config.py
/tools/build
/backend/db.sqlite3
/backend/logs/*
/backend/backend/.env
/backend/gunicorn*.*

devops.md
docker_run_test.sh
