NISP_DEBUG=True

SECRET_KEY=xxx

BATCH_INVITE_SECRET=xxx
BACKDOOR_INVITE_CODE=xxx

UDESK_ENTRY=xxx
UDESK_ADMIN_EMAIL=xxx
UDESK_ADMIN_PASSWD=xxx
UDESK_V1_SECRET=xxx
UDESK_V1_WEB_IM_KEY=xxx

DB_NAME=xxx
DB_USER=xxx
DB_PASSWORD=xxx
DB_HOST=xxx
DB_PORT=xxx
