// Override default variables before the import

p {
  padding: 1em 0;
  font-weight: bold;
}

th {
  height: 3em;
  text-align:center;
  font-size:0.9em;
  font-weight: bold;
  border:1px solid #D9D9D9;
  background-color: #EB6161;
  color:#fff;
}

td {
  font-size:0.9em;
}

.jumbotron-cover {
  background:url(/img/banner.jpg);
  textAlign: 'left';
}

.btn-read-more {
  width: 12em;
  height: 3em;
}

.btn-service {
  width: 12em;
  height: 3em;
}

.important-text {
  font-weight: bold;
  color: #B31A23;
}

.info-text {
  color: #666666;
  font-size: 0.8em;
  width: 100% ;
}

.header-title {
  text-align: left;
  font-size: 1.4em;
  padding-left: 0.5em;
  font-weight: bold;
  margin: 0
}

.center-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em
}

.title-line {
  border-top:2px solid #B31A23;
  width:5em;
  margin:0 auto;
}

// Import Bootstrap and its default variables
@import "./index.scss";
@import "./animate.scss";
@import '~bootstrap/scss/bootstrap.scss';

